.fa-star{padding-left: 5px;padding-right: 5px} .pink{color: #cf009f;} .fa-star.red{color: red;} .fa-star .pink .red{color: red;} #favlink{color: #fff; font-size: 14px; text-transform: uppercase; text-decoration: none !important; list-style: none !important;} #favlink:hover{color: #cf009f; text-decoration: none;} 
/*body {
 	background-color:green !important;
}*/